-if !user_signed_in?
  .jumbotron
    %h2
      =link_to "Sign up", new_user_registration_path 
      now to keep track of the movies you've watched...
    And remember the best ones!
= render partial: 'shared/movieslist'