= render 'shared/moviedetails'

- unless current_user.favourite_movies.exists?(id: @movie.id)
  = link_to 'Add to favourites', favourite_movies_path(movie_id: @movie), method: :post
- else
  = link_to 'Remove from favourites', favourite_movie_path(@movie), method: :delete
