%footer.text-muted
  .container-fluid
    %p.pull-right
      %a#dark-toggle Dark Theme
      %a{href: "#"} Back to top
    %p COM2025 University of Surrey Project

:javascript
  // Remember theme every time page loads
  if (localStorage.getItem("theme") === "false") {
    $("body").toggleClass('dark-theme');
    $("#dark-toggle").html("Light Theme")
    }

  // Handles light/dark mode toggle
  $(document).ready(function(){
    $("#dark-toggle").click(function(){
      if ($(this).html() == "Light Theme") {
        text = "Dark Theme"
        light = true
      } 
      else {
        text = "Light Theme"
        light = false
      }

      localStorage.setItem("theme", light)
      $("body").toggleClass('dark-theme');
      $(this).html(text);
    })
  });



