<div class="row">
  <% unless @movies.nil? %>
    <% @movies.each do |movie| %>
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail black">
          <a href="/view?id=<%="#{movie.id}"%>">
            <img src="<%= "#{@image_path}/w300_and_h450_bestv2#{movie.poster_path}" %>", alt="Poster" style="width:100%" > 
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>