/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {font-family: "AGRevueCyr";
  src: url("https://db.onlinewebfonts.com/t/c3d58453494fdb4819ddc387b6057cde.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/c3d58453494fdb4819ddc387b6057cde.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/c3d58453494fdb4819ddc387b6057cde.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/c3d58453494fdb4819ddc387b6057cde.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/c3d58453494fdb4819ddc387b6057cde.svg#AGRevueCyr") format("svg"); /* iOS 4.1- */
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%
}

#main {
  overflow: auto;
  padding-bottom: 120px;
}

body { 
  padding-top: 120px; 
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;

}

body.dark-theme { 
  background-image: url("background.png");
  color:white;

  .thumbnail {
    background-color:#3f3f3f5e;
    border-color: #000000;
  }
  
  .textborder {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .jumbodark {
    background-color: #151616db;
  }

  #edit {
    color: white;
  }
  
}
