// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-fluid {
  width: 100%;
  padding-top: 24px
}

#movietitle {
  font-weight: bold;

  .glyphicon {
    top: 5px;
  }
}

#show:hover {
  cursor: pointer;
}

.star {
  color: #ffd63f;
  
  &:hover {
    color: #ffd63f;
    text-decoration: none;
  }

  &:visited {
    color: #ffd63f;
  }
}

.synopsis {
  font-size: 110%;
}

#dropdownMenu {
  padding-bottom: 20px;
}

#edit {
  cursor: pointer;
  font-size: 130%;
  top: 4px;
  left: 4px;
  color: rgba(26, 25, 25, 0.8);
}

#changeRating {
  #slidebar {
    width:180px;
    display: inline;
  }

  output { 
    display: inline;
  }
}

.toggle {
  font-size: 60%;
  font-weight: normal;
  cursor: pointer;
}