// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-fluid {
  width: 100%;
  padding-top: 24px
}

#title {
  font-weight: bold;
}

#show:hover {
  cursor: pointer;
}

.star {
  color: rgb(255, 200, 0);
  
  &:hover {
    color: rgb(255, 200, 0);
    text-decoration: none;
  }

  &:visited {
    color: rgb(255, 200, 0);
  }
}

.synopsis {
  font-size: 110%;
}

#dropdownMenu {
  padding-bottom: 20px;
}