// _header.html.haml
#current {
  background-color:#3f3f3f;

  &:hover {
  background-color:#3f3f3f;
  }
}

//_movielist.html.haml
a {
  img {  
    width: 100%;

    &:hover {
      opacity: 0.85;
      filter: alpha(opacity=85);
    }
  }
}

.remove {
  color: rgb(170, 1, 1);

  &:hover {
    color: rgb(170, 1, 1);
    text-decoration: none;
  }

  &:visited {
    color: rgb(170, 1, 1);
  }
}

//_footer.html.haml
footer {
  position: relative;
  margin-top: -60px; // negative value of footer height 
  height: 60px;
  clear:both;
  padding-top:20px;
  background-color: #101010;
  
  #dark-toggle {
    cursor: pointer;
    margin-right: 20px;
  }
} 

