!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      @keyframes rainbow {
        0%   {color:red;}
        25%  {color:yellow;}
        50%  {color:blue;}
        75%  {color:green;}
        100% {color:red; }
      }
      img{
        margin-left: 175px;
      }
      h1{
        font-family: helvetica,Arial,sans-serif;
        animation-name: rainbow;
        animation-duration: 10s;
        margin-left: 125px;
      }
      .contact-info{
        font-family: helvetica,Arial,sans-serif;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 2px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        background-color: #eeeeee;
        border-radius: 10px;
        width: 35%
      }
      dt{
        font-weight: bold;
        font-style: italic;
      }
      /* Email styles need to be inline */
  %body
    = yield